.tudo{
margin:0px 0px 75px 0px;
}
#tudo{
margin-left:200px;
}
#desce{
position:bottom;
}
#paragrafo{
margin-left: 15px;
margin-right: 15px;
text-align: justify;
font-family:comic Sans;
font-size: 16;
}

